<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/lenovo/IdeaProjects/SeleniumFirstProject"><classes><class name="RegisterPageTests.RegisterPageTests"><methods><include name="testSuccessRegisterPageTransition"/><include name="userNameEmptyFieldMessage"/><include name="userNameTakenMessage"/><include name="minRequiredSymbolsForUsername"/><include name="emailFieldFillRequiredMessage"/><include name="passwordsDoNotMatch"/><include name="minimumPasswordChars"/><include name="passwordRules"/><include name="passwordRequired"/></methods></class></classes></test></suite>